platformio.ini
platformio.ini-*
include/marquee_config.h
include/marquee_config.h-*
.pio
.vscode
TODO
# Fetch from http://huebee.buzz
data/www/css/huebee.min.css
data/www/js/huebee.pkgd.min.js

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
