; PlatformIO Project Configuration File
;
;   Build options: build flags, source filter
;   Upload options: custom upload port, speed and extra flags
;   Library options: dependencies, extra library storages
;   Advanced options: extra scripting
;
; Please visit documentation for the other options and examples
; https://docs.platformio.org/page/projectconf.html

[platformio]
default_envs = esp32dev

[env]
build_unflags = -std=gnu++11
build_flags = -std=gnu++17 -w
build_src_flags = -Wall -Wextra -Wpedantic -Wconversion -Werror
test_framework = googletest

[env:esp32dev]
platform = espressif32@^6.8.1
platform_packages =
	platformio/framework-arduinoespressif32@^3.20017.0
board = esp32dev
framework = arduino
test_ignore = native/*
lib_deps = 
	fastled/FastLED@^3.7.1
	https://github.com/masto/LEDText#1c7a90d
	https://github.com/AaronLiddiment/LEDMatrix#1ba98bc
	https://github.com/tzapu/WiFiManager#v2.0.17
	ottowinter/ESPAsyncWebServer-esphome@^3.2.2
	bblanchon/ArduinoJson@^7.1.0
	heman/AsyncMqttClient-esphome@^2.1.0
board_build.partitions = partition_custom.csv
monitor_speed = 115200
;; Uncomment below for OTA update
; upload_port = your-marquee-hostname.local
; upload_protocol = espota

[env:native]
platform = native
